
:root {
    /* colors */
    --header-n-footer-bg-color: #00ffc8;
    --first-bg-color: #000000;
    --second-bg-color: #fafafa;
    --third-bg-color: #eeeeee;

    --header-n-footer-text-color: #00c096;

    /* sizes */
    --block-content-width: 90%;
    --block-content-height: 800px;

    --header-n-footer-width: 95%;
    --header-n-footer-height: 100px;
    --header-title-margin-left: 5%;
    --header-anchors-width: 55%;

    --footer-margin-left: 5%;

    --block-image-size: 30%;
    --block-text-size: 70%;

    /* fonts */
    --header-n-footer-font-family: sans-serif;
    --block-about-me-text-font-family: sans-serif;

}

body {
    background-color: var(--first-bg-color);
    margin: 0;
}

.block-content {
    width: var(--block-content-width);
    height: var(--block-content-height);
    margin: 0 auto;
}

.block-even {
    background-color: var(--second-bg-color);
}

.block-odd {
    background-color: var(--third-bg-color);
}

header, footer {
    background-color: var(--header-n-footer-bg-color);
    width: var(--header-n-footer-width);
    height: var(--header-n-footer-height);
}

.block-under-header {
    width: var(--block-content-width);
    height: var(--header-n-footer-height);
    margin: 0 auto;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-family: var(--header-n-footer-font-family);
    color: var(--header-n-footer-text-color);
}

.header-title {
    margin-left: var(--header-title-margin-left);
}

.header-anchors {
    width: var(--header-anchors-width);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-anchor-text {
    color: var(--header-n-footer-text-color);
    font-family: var(--header-n-footer-font-family);
}

.header-anchor-link {
    color: var(--header-n-footer-text-color);
    text-decoration: none;
}

footer {
    margin-left: var(--footer-margin-left);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.block-about-me-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-n-footer-bg-color);
    width: var(--block-image-size);
}

.block-about-me-text {
    width: var(--block-text-size);
    font-family: var(--block-about-me-text-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-logo-image {
    width: 60%;
}

.list-style {
    list-style-type: none;
}

.block-icpc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.block-icpc-center {
    margin: 20px 20px 20px 20px;
}

.block-icpc-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--block-image-size);
    background-color: black;
}

.block-icpc-text {
    width: var(--block-text-size);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-hackaton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.block-hackaton-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--block-image-size);
    background-color: black;
}

.block-hackaton-center {
    margin: 20px 20px 20px 20px;
}

.block-hackaton-text {
    width: var(--block-text-size);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icpc-image {
    width: 80%;
}

.icpc-achievements {
    color: #333;
}

.block-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.block-contacts-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--block-image-size);
    background-color: var(--header-n-footer-bg-color);
}

.block-contacts-text {
    width: var(--block-text-size);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.block-contacts-inner {
    display: flex;
    align-items: stretch;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.block-one-contact {
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.block-one-contact img {
    width: 300px;
}

.block-one-contact h4 {
    color: black;
    text-underline: none;
}